{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<!-- BOOTSTRAP STYLES -->
		{% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

		<!-- TITLE -->
		{% if title != 'none' %}
		<title>CF: {{ title }}</title>
		{% else %}
		<title>CrispFetcher</title>
		{% endif %}

		<!-- META TAGS -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="noindex, nofollow" />

		<!-- STYLES -->
		<link rel="stylesheet" href="{% static 'css/base.css'%}" type="text/css" />
		<link rel="icon" type="image/x-icon" href="{% static 'icons/logo.svg' %}" />
		{% block navbar_styles %} {% endblock %}
		{% block styles %} {% endblock %}

		<!-- SCRIPTS (only if needed at the start) -->
		<script src="{% static 'modules/jquery/jquery.js' %}" type="text/javascript"></script>
		<script crossorigin="anonymous" src="{% static 'js/base.js' %}"></script>
		
	</head>

	<body>
		<!-- __________________________________________ NAVBAR __________________________________________ -->
		<div class="navbar-container">{% block navbar %} {% endblock %}</div>

		<!-- __________________________________________ CONTENT __________________________________________ -->
		<div class="content-container">{% block content %} {% endblock %}</div>

		<!-- __________________________________________ FOOTER __________________________________________ -->		
		<div class="footer-container">{% block footer %} {% endblock %}</div>

	</body>

	<!-- __________________________________________ SCRIPTS __________________________________________ -->
	<script src="{% static 'js/base.js' %}" type="text/javascript"></script>
	{% block scripts %} {% endblock %}

</html>
