{% extends 'base_with_navbar.html' %}
{% load static %}


{% block styles %}
<link crossorigin="anonymous" href="{% static 'css/recent.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Old path</th>
            <th scope="col">New path</th>
            <th scope="col">Result</th>
            <th scope="col">Open</th>
          </tr>
        </thead>
        <tbody>

          {% for opened_editor in openedEditors %}
          <tr>
            <th scope="row">{{ opened_editor.id }}</th>
            <td>{{ opened_editor.old_XML_path }}</td>
            <td>{{ opened_editor.new_XML_path }}</td>
            <td>{{ opened_editor.datetime_created }}</td>
            <td><a href="/editor/{{ opened_editor.id }}">Open</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>



{% endblock %}